@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --spacing: 16px;
  --placeholder: #f1f5f91f;
  --placeholderBright: #f1f5f98a;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(180deg, #124198 0%, #022a6d 100%);
}
